<footer class="border-top">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/people/RoamScape/61576993546537/"><span><i class="bi bi-facebook"></i></span></a>
            <a href="https://x.com/roamscape"><span><i class="bi bi-twitter-x"></i></span></i></a>
            <a href="https://www.instagram.com/roamscape.in/"><span><i class="bi bi-instagram"></i></span></i></a>
        </div>

        <div class="f-brand-name">&copy; RoamScape, Inc</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &sdot;
            <a href="/terms">Terms</a> &sdot;
            <a href="/sitemap">Sitemap</a> &sdot;
            <a href="/about/company-details">Company details</a>
        </div>
    </div>
</footer>